@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  place-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.d-column {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.d-center {
  display: flex;
  align-items: center;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.gap60 {
  gap: 60px;
}

.jcsb {
  justify-content: space-between;
}

.grid {
  display: grid;
}


button {
  background: transparent;
  border: none;
  color: var(--color-accent);
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  border: 2px solid var(--color-accent);
  border-radius: 100px;
}

.btn-inverse {
  background: var(--color-accent);
  color: var(--vt-c-white);
}